*{
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
}
div img{
    display: block;
    width: 100%;
}
.flex-container{
    display: flex;
    max-width: 992px; 
    margin: auto;
    width: 100%;
}
header{
    background-color: blueviolet;
    height: 100px;
    display: flex;
    align-items: center;
    color: beige;
}
header .list-items{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}
.list-items li a{
    color: beige;
}
header .menu{
    justify-content: space-between;
   
}
.apresentação{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.apresentacao .texto-apresentacao{
    min-height: 200px;
    align-items: center;
    justify-content: space-around;

}
.texto-apresentacao h1{
    margin-top: 200px;
    color: blueviolet;
    font-size: 48px;
   
}
.btn{
    background-color: blueviolet;
    color: beige;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#quem-somos{
    flex-direction: row-reverse;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
#quem-somos h2{
    font-size: 32px;
    color: blueviolet;
    display: flex;
    margin-bottom: 20px;
}
#quem-somos h2::before{
    content: "";
    height: 40px;
    width: 5px;
    margin-right: 5px;
    background-color: blueviolet;
    position: relative;   
}
#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}
#quem-somos img{
    max-width: 420px;
}
.container-externo{
    background-color: blueviolet;
    width: 100%;
}
#servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}
#servicos h2{
    color: beige;
    font-size: 32px;
    margin-bottom: 20px;
}
.list-servicos{
    display: flex;
    justify-content: space-around;
}
.list-servicos .item-servico{
    text-align: center;
}
.item-servico a{
    width: 220px;
    background-color: beige;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding:  5px 10px;
    color: #122A57;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}
.item-servico p{
font-weight: 700;
font-size: 18px;
color: beige;
margin-top: 20px;
}
.item-servico img{
    width: 80%;
    margin: auto;
}
#planos{
    flex-direction: column;
    min-height: 100vh;
}
.list-planos{
    display: flex;
    align-items: flex-end;
}
.item-plano{
    flex: 1;
    border: 5px solid blueviolet;
    margin-right: 20px;
    padding: 10px;
}
.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}
.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.item-plano h3::after{
    content: "";
    background-color: blueviolet;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}
